Support for HTTP/2 Origin Frame

http://httpwg.org/http-extensions/origin-frame.html

Will allow more intelligent use of connection coalescing.

> The ORIGIN HTTP/2 frame ([RFC7540], Section 4) allows a server to indicate what origin(s) [RFC6454] the server would like the client to consider as members of the Origin Set (Section 2.3) for the connection it occurs within.

And it would even let us skip DNS if the certs match. Though we might want to implement some policy there. Maybe use our new top-private domain code to skip DNS for foo.squareup.com and bar.squareup.com but not for foo.squareup.com and bar.square.ca.

I'm not sure that implementing additional logic here is a good idea.  From my reading of it, when they talk about ports etc, I started to think about scenarios where you connect to a dev server that you want to serve traffic for other endpoints.  

Anyway, just raising for tracking for now, I obviously don't have those answers.  Will be interesting to see how webservers, API providers and developers adopt. 

Slightly relevant https://labs.detectify.com/2018/01/12/how-i-exploited-acme-tls-sni-01-issuing-lets-encrypt-ssl-certs-for-any-domain-using-shared-hosting/

Won't fix.