Unexpected status line with Transfer-Encoding chunked

What kind of issue is this?

 - [x] Bug report. If you’ve found a bug, spend the time to write a failing test. Bugs with tests
       get fixed. Here’s an example: https://gist.github.com/swankjesse/981fcae102f513eb13ed

When the server is using transfer-encoding `chunked` for a HEAD request (connection: keep-alive), the final chunk (`0\r\n`) is still in the buffer which causes this exception:

```
[debug] Caused by: java.net.ProtocolException: Unexpected status line: 0
[debug]         at okhttp3.internal.http.StatusLine.parse(StatusLine.java:69)
[debug]         at okhttp3.internal.http1.Http1Codec.readResponseHeaders(Http1Codec.java:189)
[debug]         at okhttp3.internal.http.CallServerInterceptor.intercept(CallServerInterceptor.java:75)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:92)
[debug]         at okhttp3.internal.connection.ConnectInterceptor.intercept(ConnectInterceptor.java:45)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:92)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:67)
[debug]         at okhttp3.internal.cache.CacheInterceptor.intercept(CacheInterceptor.java:93)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:92)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:67)
[debug]         at okhttp3.internal.http.BridgeInterceptor.intercept(BridgeInterceptor.java:93)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:92)
[debug]         at okhttp3.internal.http.RetryAndFollowUpInterceptor.intercept(RetryAndFollowUpInterceptor.java:120)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:92)
[debug]         at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.java:67)
[debug]         at okhttp3.RealCall.getResponseWithInterceptorChain(RealCall.java:185)
[debug]         at okhttp3.RealCall.execute(RealCall.java:69)
```

okhttp Version: 3.7.0, 3.9.0

IIUC For a head request, the server should not be returning a body even an empty one.

https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html

> The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response. The metainformation contained in the HTTP headers in response to a HEAD request SHOULD be identical to the information sent in response to a GET request. This method can be used for obtaining metainformation about the entity implied by the request without transferring the entity-body itself. This method is often used for testing hypertext links for validity, accessibility, and recent modification.

Also your test case doesn't seem to match the bug description

AFAIU, if you use transfer-encoding "chunked" you MUST send a terminating chunk, regardless of the HTTP verb used. So, in order to send a 0 size body (ie. "no body"), you just send a "0\r\n" chunk.

https://tools.ietf.org/html/rfc7230#section-4.1

https://tools.ietf.org/html/rfc7230#section-3.3.1:

> Transfer-Encoding MAY be sent in a response to a HEAD request or in a
   304 (Not Modified) response (Section 4.1 of [RFC7232]) to a GET
   request, neither of which includes a message body, to indicate that
   the origin server would have applied a transfer coding to the message
   body if the request had been an unconditional GET.  This indication
   is not required, however, because any recipient on the response chain
   (including the origin server) can remove transfer codings when they
   are not needed.

During debugging this problem, I had used mitmproxy and nginx (as a HTTP -> HTTPS reverse proxy) and as soon as the proxy was in place, the exception did not occur anymore. I think this indicates a bug in okhttps handling of the transfer encoding, where the proxy did correctly decode the responses (and probably removed the transfer-encoding).

Also see this [Netty bug](https://issues.jboss.org/browse/NETTY-420) which kind of is a duplicate of this behaviour, which was then fixed: https://github.com/netty/netty/commit/5741721f71f185872aa3d4860644d31df22ace1b

My reading of that attached bug is the exact opposite of yours.

https://issues.jboss.org/browse/NETTY-420

> So, I think you are correct - Netty should not expect any entity for a HEAD response. We should revert the following change back:

Yes, you're right! Thank you!

But maybe the problem is a bit different... I am still trying to get a reproduction, or test case.

This is what I am doing and the response headers I am seeing:
```
GET https://artifactory.host.com/sbt-x/scala_2.12/sbt_1.0/
header: Connection
header: Content-Length
header: Content-Type
header: Date
header: Server
header: WWW-Authenticate
header: X-Artifactory-Id
header: X-Artifactory-Node-Id
header: X-Node
--
Status: 401
---
# retry with basic auth
GET https://artifactory.host.com/sbt-x/scala_2.12/sbt_1.0/
header: Access-Control-Allow-Headers
header: Access-Control-Allow-Methods
header: Artifactory-UI-messages
header: Cache-Control
header: Connection
header: Content-Type
header: Date
header: Server
header: SessionValid
header: transfer-encoding
header: X-Artifactory-Id
header: X-Artifactory-Node-Id
header: X-Node
---
Status: 200
---
HEAD https://artifactory.host.com/sbt-x/scala_2.12/sbt_1.0/2.6.7-1/ivys/ivy.xml
header: Connection
header: Content-Type
header: Date
header: Server
header: WWW-Authenticate
header: X-Artifactory-Id
header: X-Artifactory-Node-Id
header: X-Node
---
Status: 401
---
# retry with basic auth
!! exception !! Unexpected status line: 0
```
As you can see, the `transfer-encoding` header was not part of the HEAD response, but of the GET response. The initial HEAD request/response (without Authentication) basically was successful, but not the subsequent one... So, maybe the `0\r\n` is a left-over from the GET response?

Note, I do not control the server. The server is load balanced, so does not always deliver the exact same responses for the requests and sometimes uses chunked transfer encoding and sometimes not.

I suggest raising a bug with https://www.jfrog.com/jira/browse/RTFACT instead of OkHttp

Yes, I will. In the meantime I have further tracked down the issue, using a simple SSLSocket connection and hex dumping the bytes from the upstream server. The artifactory server **does** send the `0\r\n` bytes for the HEAD requests, even though the transfer-encoding header is *NOT* in place... 💣 

Do you think it would be feasible / possible to work around such erratic behaviour in okhttp?

You could "connection: close" HEAD requests like this?

> You could "connection: close" HEAD requests like this?

I have already tried this using a Network Interceptor, but could not get to grips with peeking into the data... Thank you, anyway!

Is there an upstream https://www.jfrog.com/jira/browse/RTFACT issue for this?