Cache entry removed on POST response with 'Cache-Control' header

According to **RFC2616 - 9.5 POST**:

> Responses to this method are not cacheable, unless the response includes appropriate Cache-Control or Expires header fields.

However OkHttp does not respect this. See `Cache.put(response: Response)`:

```
    val requestMethod = response.request.method

    if (HttpMethod.invalidatesCache(response.request.method)) {
      try {
        remove(response.request)
      } catch (_: IOException) {
        // The cache cannot be written.
      }
      return null
    }
```

With a request/response like this one, the cache entry should not be removed and should even be updated so that a future GET request can take advantage of it:

```
>>> POST /foobar
{ "baz": true }
```

```
<<< 200 OK
Cache-Control: max-age=900
{ "baz": true }
```

Hello, could you explain the problem a little bit more? I'm new to contributing and would like to understand better so I can help :)

That RFC is obsoleted, relevant parts are probably

https://www.rfc-editor.org/rfc/rfc7234#section-3

```
Storing Responses in Caches

   A cache MUST NOT store a response to any request, unless:

   o  The request method is understood by the cache and defined as being
      cacheable, and
...
Note that any of the requirements listed above can be overridden by a
   cache-control extension; see [Section 5.2.3](https://www.rfc-editor.org/rfc/rfc7234#section-5.2.3).
```

https://www.rfc-editor.org/rfc/rfc7231#section-4.3.3

```
Responses to POST requests are only cacheable when they include
   explicit freshness information (see [Section 4.2.1 of [RFC7234]](https://www.rfc-editor.org/rfc/rfc7234#section-4.2.1)).
   However, POST caching is not widely implemented.  For cases where an
   origin server wishes the client to be able to cache the result of a
   POST in a way that can be reused by a later GET, the origin server
   MAY send a 200 (OK) response containing the result and a
   Content-Location header field that has the same value as the POST's
   effective request URI ([Section 3.1.4.2](https://www.rfc-editor.org/rfc/rfc7231#section-3.1.4.2)).
```

Based on above, I'm not sure the benefit of making the change to support what is effectively a user agent specific behaviour is worth the risk to breaking clients.

So should we ignore this issue?

Are you saying, that if OkHttp avoided clearing the cache on the POST, just ignoring it for purposes of caching, then it would fix your issue?

Or that OkHttp should also implement the optional caching?

OkHttp should implement caching if the POST response says so, yes.

I think that's a bigger riskier change. The spec saying it's cacheable, doesn't mean that user agents must implement caching.

> However, POST caching is not widely implemented

Is there a particular API that you are hitting that is assuming this is cacheable?

Lovely

I'm inclined to close because of the risk that caching these would break existing clients.  The requirements are strict about when not to cache.  But it's not clear that it's a MUST for caching.  "However, POST caching is not widely implemented"

I suspect we would only change this given the following are true

- Other user agents, like Python requests, Firefox, Chrome implement POST caching
-  There are common websites/APIs that assume this is supported.

Agreed with closing this.

Particularly since the application layer can do it better! For example, if the content was a bitmap, the application layer can cache the decoded `Bitmap` object in memory instead of a bunch of bytes on disk.