Parse and expose mediatypes parameters

 - [X] Feature Request. Start by telling us what problem you’re trying to solve. Often a solution
       already exists! Don’t send pull requests to implement new features without first getting our
       support. Sometimes we leave features out on purpose to keep the project small.

Currently `MediaType` class doesn't handle media-type parameters. This would be useful to be able to parse the parameters of received media-types, as per [RFC 6838 §4.3](https://tools.ietf.org/html/rfc6838#section-4.3).

This is could be handy client side when defining constants. Of course one can use strings for those constants. But this could avoid typing errors. I'm exploring the idea of media-type parameters to express API versions.


To do this right we’d probably also want range matching.
https://github.com/square/okhttp/issues/3702

I agree but this is a separate concern / issue. Expressing special values like the quality factor `q` is one of them.

I wanna do this.

https://github.com/square/okhttp/pull/5994/files

Thanks @swankjesse and @yschimke (and others I don't know about) !

Nothing to me, this was all @swankjesse 