HttpAuthenticator should ignore case when parsing RFC 2617 auth parameter realm

RFC 2617 Section 1.2 (http://tools.ietf.org/html/rfc2617#section-1.2) says that the realm directive should be parsed without caring about case. However, in L141 of `HttpAuthenticator.java`:

```
        if (!value.regionMatches(pos, "realm=\"", 0, "realm=\"".length())) {
```

which is case-sensitive.

I am using OkHttp against a server which is responding with a header like:

```
WWW-Authenticate: Basic Realm="Acme API Authentication"
```
