Infinite caching in DnsOverHttps

If you are using DnsOverHttps with `post=false`, url=`https://1.1.1.1/dns-query` and a custom `OkHttpClient` with a `Cache` set, responses are cached forever, and no validation regarding dns ttl are performed.

Cloudflare does not send a `Cache-Control` header, and `DnsRecordCodec` discards the ttl value from the response.


I am seeing cache-control in responses.  But it's short e.g. 26 seconds.

21:44:45.939	<-- 200 https://cloudflare-dns.com/dns-query?ct=application/dns-udpwireformat&dns=AAABAAABAAAAAAAAB2h0dHBiaW4Db3JnAAABAAE (170ms)
21:44:45.939	date: Tue, 31 Mar 2020 20:44:45 GMT
21:44:45.939	content-type: application/dns-udpwireformat
21:44:45.939	content-length: 128
21:44:45.939	access-control-allow-origin: *
21:44:45.940	cache-control: max-age=26
21:44:45.940	expect-ct: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
21:44:45.940	vary: Accept-Encoding
21:44:45.940	server: cloudflare
21:44:45.940	cf-ray: 57cce902fac2e624-LHR

FWIW the behaviour implemented is deliberately inline with the spec

```
As a result, DoH servers need to carefully consider the HTTP caching
   metadata they send in response to GET requests (responses to POST
   requests are not cacheable unless specific response header fields are
   sent; this is not widely implemented and is not advised for DoH).

   In particular, DoH servers SHOULD assign an explicit HTTP freshness
   lifetime (see Section 4.2 of [RFC7234]) so that the DoH client is
   more likely to use fresh DNS data.  This requirement is due to HTTP
   caches being able to assign their own heuristic freshness (such as
   that described in Section 4.2.2 of [RFC7234]), which would take
   control of the cache contents out of the hands of the DoH server.




Hoffman & McManus            Standards Track                    [Page 8]

 
RFC 8484              DNS Queries over HTTPS (DoH)          October 2018


   The assigned freshness lifetime of a DoH HTTP response MUST be less
   than or equal to the smallest TTL in the Answer section of the DNS
   response.  A freshness lifetime equal to the smallest TTL in the
   Answer section is RECOMMENDED.  For example, if a HTTP response
   carries three RRsets with TTLs of 30, 600, and 300, the HTTP
   freshness lifetime should be 30 seconds (which could be specified as
   "Cache-Control: max-age=30").  This requirement helps prevent expired
   RRsets in messages in an HTTP cache from unintentionally being
   served.
```

While the Spec allows for overriding cache in requests, the use of a configured Cache is deliberate to avoid hammering the server, and correctly implement caching based on TTLs.

Can you provide more detail to reproduce the issue, everything I can see seems to be working correctly in my test client.

I am using curl: `curl -v 'https://1.1.1.1/dns-query?ct=application/dns-udpwireformat&dns=AAABAAABAAAAAAAAB2h0dHBiaW4Db3JnAAABAAE' > /dev/null`


```< HTTP/2 200 
< date: Tue, 31 Mar 2020 21:14:50 GMT
< content-type: application/dns-udpwireformat
< content-length: 72
< access-control-allow-origin: *
< expect-ct: max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
< server: cloudflare
< cf-ray: 57cd1511ce0afb5c-DUS
< 
{ [72 bytes data]
```

Reopen with a repro.  Happy to continue the investigation, but I can't see what you are seeing.

FWIW Caching appears to work also

```
$ ./okurl --debug --dns=DNSOVERHTTPS --cache /tmp/a.cache https://api.twitter.com/robots.txt
22:15:02.897	-Dorg.conscrypt.native.workdir: /var/folders/gj/tk6xp0gx7kx_0b41p6vlyg6r00pfj6/T
22:15:03.117	url https://api.twitter.com/robots.txt
22:15:03.118	Request Request{method=GET, url=https://api.twitter.com/robots.txt, headers=[User-Agent:okurl/dev], tags={class com.baulsupp.okurl.credentials.Token=TokenSet(name=default)}}
22:15:03.178	Dns (api.twitter.com): /104.244.42.2, /104.244.42.66, /104.244.42.130, /104.244.42.194
22:15:03.453	Q10004 scheduled after   5 s : OkHttp api.twitter.com ping
22:15:03.458	>> CONNECTION 505249202a20485454502f322e300d0a0d0a534d0d0a0d0a
22:15:03.459	>> 0x00000000     6 SETTINGS
22:15:03.460	>> 0x00000000     4 WINDOW_UPDATE
```

Just to be clear here, I am talking about caching of the _inner_ response from `1.1.1.1` for dns lookup, not caching of the _outer_ response from `twitter.com`.

I think it is a flaw in some cute logic to try to force using the cache if possible, over making an additional request to the server. 

https://github.com/square/okhttp/blob/ff0dee1c34fc06084357c93dc480f6ad89fef24a/okhttp-dnsoverhttps/src/main/java/okhttp3/dnsoverhttps/DnsOverHttps.kt#L108

> I think it is a flaw in some cute logic to try to force using the cache if possible, over making an additional request to the server.
> 
> https://github.com/square/okhttp/blob/ff0dee1c34fc06084357c93dc480f6ad89fef24a/okhttp-dnsoverhttps/src/main/java/okhttp3/dnsoverhttps/DnsOverHttps.kt#L108

Yes, thats pretty much it. OkHttp also runs into this line: https://github.com/square/okhttp/blob/master/okhttp/src/main/java/okhttp3/internal/cache/CacheStrategy.kt#L190

I'm still not convinced it's a bug

https://github.com/square/okhttp/blob/ff0dee1c34fc06084357c93dc480f6ad89fef24a/okhttp/src/main/java/okhttp3/CacheControl.kt#L228-L234

The code is checking for 504, and uses maxAge, not maxStale

https://github.com/square/okhttp/blob/ff0dee1c34fc06084357c93dc480f6ad89fef24a/okhttp-dnsoverhttps/src/main/java/okhttp3/dnsoverhttps/DnsOverHttps.kt#L185-L202