H2 issue with unknown settings parameter causes malformed requests

My team recently tracked down an issue with okhttp where multiple requests on the same H2 connection would fail due to a new unexpected parameter in the H2 settings frame. Other clients and browser do not seem to have an issue with it however okhttp does, per the RFC 7540 (section 6.5.2) the client must ignore any setting it does not understand. 

From the client side we see the first request succeed then subsequent requests fail. From the server side we see the first request succeed then subsequent requests come in with a malformed payload body. Also worth noting the size of the payload matters in reproducing the issue. 

Sample code to reproduce the issue (the server is important as it is setup with the extra settings frame parameter):

```
public class Demo {
	
  public static final MediaType JSON = MediaType.get("application/json; charset=utf-8");
  OkHttpClient client = new OkHttpClient().newBuilder().build();
  
  String post(String url) throws IOException {
    String json="{'test':'grrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr'}";
	RequestBody body = RequestBody.create(json, JSON);
    Request request = new Request.Builder()
        .url(url)
        .post(body) 
        .build();
    try (Response response = client.newCall(request).execute()) {
      return response.body().string();
    }
  }

  

  public static void main(String[] args) throws IOException {
    Demo example = new Demo();
    
    for(int i=0;i<100;i++)
    {
	    
    	String response2 = example.post("https://rk.losgiova.com/okhttp/test.html?"+i);
		System.out.println(response2);
	 
    }
       
  }
}
```


Results

```
ok

Exception in thread "main" java.net.SocketTimeoutException: timeout
	at okhttp3@4.9.1/okhttp3.internal.http2.Http2Stream$StreamTimeout.newTimeoutException(Http2Stream.kt:677)
	at okhttp3@4.9.1/okhttp3.internal.http2.Http2Stream$StreamTimeout.exitAndThrowIfTimedOut(Http2Stream.kt:686)
	at okhttp3@4.9.1/okhttp3.internal.http2.Http2Stream$FramingSink.emitFrame(Http2Stream.kt:557)
	at okhttp3@4.9.1/okhttp3.internal.http2.Http2Stream$FramingSink.close(Http2Stream.kt:614)
	at okio.ForwardingSink.close(ForwardingSink.kt:37)
	at okhttp3@4.9.1/okhttp3.internal.connection.Exchange$RequestBodySink.close(Exchange.kt:242)
	at okio.RealBufferedSink.close(RealBufferedSink.kt:286)
	at okhttp3@4.9.1/okhttp3.internal.http.CallServerInterceptor.intercept(CallServerInterceptor.kt:60)
	at okhttp3@4.9.1/okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3@4.9.1/okhttp3.internal.connection.ConnectInterceptor.intercept(ConnectInterceptor.kt:34)
	at okhttp3@4.9.1/okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3@4.9.1/okhttp3.internal.cache.CacheInterceptor.intercept(CacheInterceptor.kt:95)
	at okhttp3@4.9.1/okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3@4.9.1/okhttp3.internal.http.BridgeInterceptor.intercept(BridgeInterceptor.kt:83)
	at okhttp3@4.9.1/okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3@4.9.1/okhttp3.internal.http.RetryAndFollowUpInterceptor.intercept(RetryAndFollowUpInterceptor.kt:76)
	at okhttp3@4.9.1/okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3@4.9.1/okhttp3.internal.connection.RealCall.getResponseWithInterceptorChain$okhttp(RealCall.kt:201)
	at okhttp3@4.9.1/okhttp3.internal.connection.RealCall.execute(RealCall.kt:154)
	at okhttptestclient/okhttptestclient.Demo.post(Demo.java:30)
	at okhttptestclient/okhttptestclient.Demo.main(Demo.java:43)
```



Thanks for reporting this. Will investigate & get back to you!

Sounds good thanks!

I can reproduce the timeout, but it looks like the server is just not responding.  Your json itself is invalid because of single quotes, is that intentional or it doesn't matter?

Also Http2Reader should be ignoring any invalid settings values

```
        // Must ignore setting with unknown id.
        else -> {
        }
```

Can you include HTTP/2 frame logging? https://square.github.io/okhttp/debug_logging/#http2-frame-logging

From the server side we see the client closing its connection before finishing the advertised post body. Yes the json is invalid, sorry about that, the server is not validating anything just responding with ok.

Re frame logging I will give that a try, if I can figure out how to enable it. The sample code I am testing with is exactly the code I provided, when working with the server vendor we went for the easiest repo code possible.

A few things to note disabling H2 the requests work fine, they also work fine by shorting the request body. 

I just don't see anything that looks like it's a client problem.  I think the server isn't behaving on a single HTTP/2 connection.

```
[2021-02-26 22:23:51] >> CONNECTION 505249202a20485454502f322e300d0a0d0a534d0d0a0d0a 
[2021-02-26 22:23:51] >> 0x00000000     6 SETTINGS       
[2021-02-26 22:23:51] >> 0x00000000     4 WINDOW_UPDATE  
[2021-02-26 22:23:51] >> 0x00000003    75 HEADERS       END_HEADERS 
[2021-02-26 22:23:51] >> 0x00000003   211 DATA          END_STREAM 
[2021-02-26 22:23:51] << 0x00000000    36 SETTINGS       
[2021-02-26 22:23:51] >> 0x00000000     0 SETTINGS      ACK 
[2021-02-26 22:23:51] << 0x00000000     0 SETTINGS      ACK 
[2021-02-26 22:23:52] << 0x00000000     4 WINDOW_UPDATE  
[2021-02-26 22:23:53] << 0x00000003   457 HEADERS       END_HEADERS 
[2021-02-26 22:23:53] << 0x00000003     3 DATA           
[2021-02-26 22:23:53] << 0x00000003     0 DATA          END_STREAM 
ok

[2021-02-26 22:23:53] >> 0x00000005    23 HEADERS       END_HEADERS 
[2021-02-26 22:23:53] >> 0x00000005   150 DATA           
[2021-02-26 22:24:03] >> 0x00000005     4 RST_STREAM     
[2021-02-26 22:24:03] >> 0x00000000     8 PING           
java.net.SocketTimeoutException: timeout
	at okhttp3.internal.http2.Http2Stream$StreamTimeout.newTimeoutException(Http2Stream.kt:677)
	at okhttp3.internal.http2.Http2Stream$StreamTimeout.exitAndThrowIfTimedOut(Http2Stream.kt:686)
	at okhttp3.internal.http2.Http2Stream$FramingSink.emitFrame(Http2Stream.kt:557)
	at okhttp3.internal.http2.Http2Stream$FramingSink.close(Http2Stream.kt:614)
	at okio.ForwardingSink.close(ForwardingSink.kt:37)
	at okhttp3.internal.connection.Exchange$RequestBodySink.close(Exchange.kt:242)
	at okio.RealBufferedSink.close(RealBufferedSink.kt:286)
	at okhttp3.internal.http.CallServerInterceptor.intercept(CallServerInterceptor.kt:60)
	at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3.internal.connection.ConnectInterceptor.intercept(ConnectInterceptor.kt:34)
	at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3.internal.cache.CacheInterceptor.intercept(CacheInterceptor.kt:95)
	at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3.internal.http.BridgeInterceptor.intercept(BridgeInterceptor.kt:83)
	at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3.internal.http.RetryAndFollowUpInterceptor.intercept(RetryAndFollowUpInterceptor.kt:76)
	at okhttp3.internal.http.RealInterceptorChain.proceed(RealInterceptorChain.kt:109)
	at okhttp3.internal.connection.RealCall.getResponseWithInterceptorChain$okhttp(RealCall.kt:201)
	at okhttp3.internal.connection.RealCall.execute(RealCall.kt:154)
	at Example_main.post(example.main.kts:54)
	at Example_main.<init>(example.main.kts:64)
Fri Feb 26 22:24:03 GMT 2021
```

Interesting, the server guys theorized it was due to the settings frame headers. From our experience we saw all other clients (Chrome/iOS/etc) work properly only okhttp (any version) had issues. They reverted the code change and the issue went away. We were also able to disable H2 and validate that corrects the issue. 

Any ideas as to additional troubleshooting we can do to determine why okhttp has a problem with this configuration?


Based on your trace it does line up with what we see on the server:

2021-02-26 22:23:53] << 0x00000003   457 HEADERS       END_HEADERS 
[2021-02-26 22:23:53] << 0x00000003     3 DATA           
[2021-02-26 22:23:53] << 0x00000003     0 DATA          END_STREAM 
ok

[2021-02-26 22:23:53] >> 0x00000005    23 HEADERS       END_HEADERS 
[2021-02-26 22:23:53] >> 0x00000005   150 DATA           
**5 seconds and the server never gets data that matches the content length then our logs show the client aborting** 
[2021-02-26 22:24:03] >> 0x00000005     4 RST_STREAM     
[2021-02-26 22:24:03] >> 0x00000000     8 PING           



Forgot to add I modified the code a bit to catch the error and time the issues and it all subsequent requests on the TCP connection never succeed.

```
for(int i=0;i<100;i++)
    {
	    System.out.println("Starting call "+i+" at "+java.time.LocalTime.now());
	    try {
	    	String response2 = example.post("https://rk.losgiova.com/okhttp/test.html?"+i);
			System.out.println("reposonse: "+response2+" "+java.time.LocalTime.now());
	    	  //  Block of code to try
	    	}
	    	catch(Exception e) {
	    	  //  Block of code to handle errors
	    		System.out.println("failed: "+e.getMessage()+" "+java.time.LocalTime.now());
	    	}
	    
    	
    }
```

```
Starting call 0 at 17:22:59.561945
reposonse: ok
 17:23:00.366184900
Starting call 1 at 17:23:00.366184900
failed: timeout 17:23:10.383184200
Starting call 2 at 17:23:10.383184200
failed: timeout 17:23:20.391071600
Starting call 3 at 17:23:20.391071600
failed: timeout 17:23:30.394379400
```

From the server logs we see it using the same tcp connection for each request (which is expected for h2), however everything after the first request on a connection fails.


Some other observations that may help, GET requests work fine. POST requests that are small also work fine. It's only if the post request is long enough (appears to be 151 chars) does it start to fail.

Sounds like a problem with HTTP/2 window updates.

If you are working at the HTTP/2 frame level, then either HTTP/2 prior knowledge, configuring Wireshark with the required server certificates to decode, or hooking up exporting of the key material https://github.com/square/okhttp/blob/master/samples/guide/src/main/java/okhttp3/recipes/kt/WiresharkExample.kt could help.

Not suggesting it's worth the setup cost, so depends how motivated you are.

> Sounds like a problem with HTTP/2 window updates.

A bug in OkHttp or the server not giving us an update to allow sending more data?

Yeah, a bug there could trigger this behavior.

Sorry for the delay been digging a bit more. Pulling a wireshark capture it does appear the client is giving up the request mid stream:

```
Frame 28: 324 bytes on wire (2592 bits), 324 bytes captured (2592 bits) on interface \Device\NPF_{56146F8F-A226-4FB6-BAFB-DF90C4E0BB9D}, id 0
Ethernet II, Src: , Dst: 
Internet Protocol Version 4, Src: 192.168.1.157, Dst: 66.198.8.141
Transmission Control Protocol, Src Port: 58811, Dst Port: 443, Seq: 1160, Ack: 4837, Len: 270
    Source Port: 58811
    Destination Port: 443
    [Stream index: 0]
    [TCP Segment Len: 270]
    Sequence Number: 1160    (relative sequence number)
    Sequence Number (raw): 223449551
    [Next Sequence Number: 1430    (relative sequence number)]
    Acknowledgment Number: 4837    (relative ack number)
    Acknowledgment number (raw): 2878313588
    0101 .... = Header Length: 20 bytes (5)
    Flags: 0x018 (PSH, ACK)
        000. .... .... = Reserved: Not set
        ...0 .... .... = Nonce: Not set
        .... 0... .... = Congestion Window Reduced (CWR): Not set
        .... .0.. .... = ECN-Echo: Not set
        .... ..0. .... = Urgent: Not set
        .... ...1 .... = Acknowledgment: Set
        .... .... 1... = Push: Set
        .... .... .0.. = Reset: Not set
        .... .... ..0. = Syn: Not set
        .... .... ...0 = Fin: Not set
        [TCP Flags: ·······AP···]
    Window: 508
    [Calculated window size: 130048]
    [Window size scaling factor: 256]
    Checksum: 0x1081 [unverified]
    [Checksum Status: Unverified]
    Urgent Pointer: 0
    [SEQ/ACK analysis]
        [iRTT: 0.050243000 seconds]
        [Bytes in flight: 270]
        [Bytes sent since last PSH flag: 270]
    [Timestamps]
        [Time since first frame in this TCP stream: 19.866858000 seconds]
        [Time since previous frame in this TCP stream: 18.962042000 seconds]
    TCP payload (270 bytes)
    [PDU Size: 60]
    [PDU Size: 159]
    [PDU Size: 13]
Transport Layer Security
HyperText Transfer Protocol 2
    Stream: HEADERS, Stream ID: 5, Length 51, POST /okhttp/test.html?okhttp&executor=0.1&okhttp_version=4.2.2
        Length: 51
        Type: HEADERS (1)
        Flags: 0x04, End Headers
            00.0 ..0. = Unused: 0x00
            ..0. .... = Priority: False
            .... 0... = Padded: False
            .... .1.. = End Headers: True
            .... ...0 = End Stream: False
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 0000 0000 0000 0000 0000 0101 = Stream Identifier: 5
        [Pad Length: 0]
        Header Block Fragment: 8304aa60fd674a6b612542579d34d1fe1face94d7f05f2525a93d900170fc1face94d717…
        [Header Length: 276]
        [Header Count: 8]
        Header: :method: POST
        Header: :path: /okhttp/test.html?okhttp&executor=0.1&okhttp_version=4.2.2
        Header: :authority: rk.losgiova.com
        Header: :scheme: https
        Header: content-type: application/json; charset=utf-8
        Header: content-length: 336
        Header: accept-encoding: gzip
        Header: user-agent: okhttp/4.2.2
    Stream: DATA, Stream ID: 5, Length 150 (partial entity body)
        Length: 150
        Type: DATA (0)
        Flags: 0x00
            0000 .00. = Unused: 0x00
            .... 0... = Padded: False
            .... ...0 = End Stream: False
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 0000 0000 0000 0000 0000 0101 = Stream Identifier: 5
        [Pad Length: 0]
        Data: 7b2768326661696c273a2774727565272c202764617461273a2027616161616161616161…
    Stream: RST_STREAM, Stream ID: 5, Length 4
        Length: 4
        Type: RST_STREAM (3)
        Flags: 0x00
            0000 0000 = Unused: 0x00
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 0000 0000 0000 0000 0000 0101 = Stream Identifier: 5
        Error: CANCEL (8)

```

What we observe is the client does not send the data to the wire until the okhttp writeTimeout value expires and then it only sends a portion of data and aborts the request with the CANCEL (8). 


```
CANCEL (0x8):  Used by the endpoint to indicate that the stream is no longer needed.
```

Here is first post request that works for reference

```
Frame 20: 654 bytes on wire (5232 bits), 654 bytes captured (5232 bits) on interface \Device\NPF_{56146F8F-A226-4FB6-BAFB-DF90C4E0BB9D}, id 0
Ethernet II, Src: , Dst:
Internet Protocol Version 4, Src: 192.168.1.157, Dst: 66.198.8.141
Transmission Control Protocol, Src Port: 58811, Dst Port: 443, Seq: 513, Ack: 4236, Len: 600
    Source Port: 58811
    Destination Port: 443
    [Stream index: 0]
    [TCP Segment Len: 600]
    Sequence Number: 513    (relative sequence number)
    Sequence Number (raw): 223448904
    [Next Sequence Number: 1113    (relative sequence number)]
    Acknowledgment Number: 4236    (relative ack number)
    Acknowledgment number (raw): 2878312987
    0101 .... = Header Length: 20 bytes (5)
    Flags: 0x018 (PSH, ACK)
        000. .... .... = Reserved: Not set
        ...0 .... .... = Nonce: Not set
        .... 0... .... = Congestion Window Reduced (CWR): Not set
        .... .0.. .... = ECN-Echo: Not set
        .... ..0. .... = Urgent: Not set
        .... ...1 .... = Acknowledgment: Set
        .... .... 1... = Push: Set
        .... .... .0.. = Reset: Not set
        .... .... ..0. = Syn: Not set
        .... .... ...0 = Fin: Not set
        [TCP Flags: ·······AP···]
    Window: 510
    [Calculated window size: 130560]
    [Window size scaling factor: 256]
    Checksum: 0x87bc [unverified]
    [Checksum Status: Unverified]
    Urgent Pointer: 0
    [SEQ/ACK analysis]
        [This is an ACK to the segment in frame: 19]
        [The RTT to ACK the segment was: 0.000144000 seconds]
        [iRTT: 0.050243000 seconds]
        [Bytes in flight: 600]
        [Bytes sent since last PSH flag: 600]
    [Timestamps]
        [Time since first frame in this TCP stream: 0.744236000 seconds]
        [Time since previous frame in this TCP stream: 0.000144000 seconds]
    TCP payload (600 bytes)
    [PDU Size: 15]
    [PDU Size: 13]
    [PDU Size: 113]
    [PDU Size: 345]
Transport Layer Security
    TLSv1.3 Record Layer: Application Data Protocol: http2
        Opaque Type: Application Data (23)
        Version: TLS 1.2 (0x0303)
        Length: 48
        [Content Type: Application Data (23)]
        Encrypted Application Data: bbc980bca2450686d4ab45f44e0cdf197fd1416fbeb28fcb248f1abfa1adef6f7a1ec0f3…
        [Application Data Protocol: http2]
    TLSv1.3 Record Layer: Application Data Protocol: http2
        Opaque Type: Application Data (23)
        Version: TLS 1.2 (0x0303)
        Length: 46
        [Content Type: Application Data (23)]
        Encrypted Application Data: d71da56bc916d4706d53e242995c256c0ae8fd9bac4a49ca4e49f8160eba08cdb9594a10…
        [Application Data Protocol: http2]
    TLSv1.3 Record Layer: Application Data Protocol: http2
        Opaque Type: Application Data (23)
        Version: TLS 1.2 (0x0303)
        Length: 491
        [Content Type: Application Data (23)]
        Encrypted Application Data: 644a2a59450aeb0067397c3e9c51d5210fc7eaa11e7949ad6eb4be3b8ab5c5292f56def0…
        [Application Data Protocol: http2]
HyperText Transfer Protocol 2
    Stream: SETTINGS, Stream ID: 0, Length 6
        Length: 6
        Type: SETTINGS (4)
        Flags: 0x00
            0000 000. = Unused: 0x00
            .... ...0 = ACK: False
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 0000 0000 0000 0000 0000 0000 = Stream Identifier: 0
        Settings - Initial Windows size : 16777216
HyperText Transfer Protocol 2
    Stream: WINDOW_UPDATE, Stream ID: 0, Length 4
        Length: 4
        Type: WINDOW_UPDATE (8)
        Flags: 0x00
            0000 0000 = Unused: 0x00
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 0000 0000 0000 0000 0000 0000 = Stream Identifier: 0
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 1111 1111 0000 0000 0000 0001 = Window Size Increment: 16711681
HyperText Transfer Protocol 2
    Stream: HEADERS, Stream ID: 3, Length 104, POST /okhttp/test.html?okhttp&executor=0.0&okhttp_version=4.2.2
        Length: 104
        Type: HEADERS (1)
        Flags: 0x04, End Headers
            00.0 ..0. = Unused: 0x00
            ..0. .... = Priority: False
            .... 0... = Padded: False
            .... .1.. = End Headers: True
            .... ...0 = End Stream: False
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 0000 0000 0000 0000 0000 0011 = Stream Identifier: 3
        [Pad Length: 0]
        Header Block Fragment: 8304aa60fd674a6b612542579d34d1fe1face94d7f05f2525a93d9001707c1face94d717…
        [Header Length: 276]
        [Header Count: 8]
        Header: :method: POST
        Header: :path: /okhttp/test.html?okhttp&executor=0.0&okhttp_version=4.2.2
        Header: :authority: rk.losgiova.com
        Header: :scheme: https
        Header: content-type: application/json; charset=utf-8
        Header: content-length: 336
        Header: accept-encoding: gzip
        Header: user-agent: okhttp/4.2.2
    Stream: DATA, Stream ID: 3, Length 336
        Length: 336
        Type: DATA (0)
        Flags: 0x01, End Stream
            0000 .00. = Unused: 0x00
            .... 0... = Padded: False
            .... ...1 = End Stream: True
        0... .... .... .... .... .... .... .... = Reserved: 0x0
        .000 0000 0000 0000 0000 0000 0000 0011 = Stream Identifier: 3
        [Pad Length: 0]
        Data: 7b2768326661696c273a2774727565272c202764617461273a2027616161616161616161…
    JavaScript Object Notation: application/json
    Line-based text data: application/json (1 lines)
         [truncated]{'h2fail':'true', 'data': 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa


```

I am unsure why the client would do that but that is what the capture shows. Any ideas where we can go from here?

@black2d Thanks for reporting this, not sure what it is and I'm not actively looking.  But it did want to say thanks for the thorough bug report. It's a pleasant step above the norm.

@yschimke sorry for the delay, thanks for looking into it. Understand this is a hobby for you, appreciate the comments on the bug report. Can you think of anything else we can look at before the server guys need to de-provision the box?

Anyone from Square around to take another look?

Thanks!





I couldn’t reproduce the problem with your example.

@swankjesse sorry about that seems something happened to the server last week. Let me get it fixed back and I will let you know.

@swankjesse I got word today the server is back, unfortunately it will not be around very long the automation keeps destroying it as its outdated. Let me know if there is any information I can assist with to help find a resolution.

Thanks!

@swankjesse Sorry to bother you, the server guys are going to have to decommission the server soon (compliance and all). Any chance you can gather the needed diagnostics this week?

I'm sorry I'm not available for debugging this this week. My preference is to blame the server for this for now, and reopen if another related issue is reported.

Thanks Jesse, hopefully we don't see it again but if it comes back in a future release I will let you know.