Cookie class requires a domain to be declared

As part of a patch for #4282, I'm noticing that it's not currently possible to instantiate a new `Cookie` instance without a domain (i.e. there is a [null check on the builder field](https://github.com/square/okhttp/blob/ea10cb471504029af34121b578b449d6c13e91e9/okhttp/src/main/java/okhttp3/Cookie.java#L83)).

While the existing `Cookie` class seems to cater for `Set-Cookie` headers, there's technically no requirement that a domain be present on each cookie. Here's the relevant snippet from the cookie specs ([RFC 6265](https://tools.ietf.org/html/rfc6265#section-4.1.1)):

```
 set-cookie-header = "Set-Cookie:" SP set-cookie-string
 set-cookie-string = cookie-pair *( ";" SP cookie-av )
 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
 cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
 token             = <token, defined in [RFC2616], Section 2.2>

 cookie-av         = expires-av / max-age-av / domain-av /
                     path-av / secure-av / httponly-av /
                     extension-av
... snip ...
```

i.e. `*( ";" SP cookie-av )` implies zero or more directives after the cookie-pair, which may or may not include the domain the cookie is scoped to, for `Set-Cookie`.

Additionally, the [`Cookie` syntax](https://tools.ietf.org/html/rfc6265#section-4.2.1) is much simpler, and has no dependence on a domain:

```
   cookie-header = "Cookie:" OWS cookie-string OWS
   cookie-string = cookie-pair *( ";" SP cookie-pair )
```

Thoughts on making the validation in `Cookie` less strict, and only require the presence of a name and value? This would make the `Cookie` class better model both `Cookie` and `Set-Cookie` header values.

Relaxing this requirement could also enable the addition of a new `parse` method that takes a raw `Cookie` header value string and returns the corresponding `List<Cookie>` (which doesn't depend on a URL / domain) in a similar fashion to what is currently done for the `Set-Cookie` header via `Cookie parse(HttpUrl url, String setCookie)`.

The class is called `Cookie` but it is very much a server’s `Set-Cookie` header and not a client’s `Cookie` header. The client’s `Cookie` header is merely a summary!

This is relevant for implementations of `CookieJar`, which want to be able to check whether a cookie they’ve received is valid for a domain, path, and expiration date. If we loosened what was required then we’d make code that consumed Cookies less satisfied.

BTW, you probably don’t need a Cookie instance for #4282. You might be able to just concatenate some strings!

No clear action here.