Percent Encoding Asterisk

Bug Report: 

I'm not sure if the expected behavior is described anywhere, but I would expect the [HttpUrl class](https://square.github.io/okhttp/3.x/okhttp/okhttp3/HttpUrl.html) to encode * as %2A, and have implemented [a failing test case here](https://github.com/caseykulm/okhttp/commit/eacd4d8a15b383145fdd0116387cbbab10431fc6).

This was also brought up a while ago in a SO post, https://stackoverflow.com/questions/39771140/should-httpurl-builder-addpathsegment-2a-encode-an-asterisk


According to some research, major browsers don’t encode it. http://tinyurl.com/url-escaping
And some URLs use it: https://en.wikipedia.org/wiki/C*-algebra

Seems like [Section 2.2 of RFC 3986](https://tools.ietf.org/html/rfc3986#section-2.2) has the answer, but I'm not quite sure which answer it's indicating.

> URI producing applications should percent-encode data octets that
> correspond to characters in the reserved set unless these characters
> are specifically allowed by the URI scheme to represent data in that
> component.  If a reserved character is found in a URI component and
> no delimiting role is known for that character, then it must be
> interpreted as representing the data octet corresponding to that
> character's encoding in US-ASCII.

That same section states that * is a reserved character, although I'm not sure how to interpret "unless these characters are specifically allowed by the URI scheme to represent data in that component"