HTTP/2 RST_STREAM is sent twice after timeout for the same stream

okhttp client sends h2 RST_STREAM twice after timeout for the same stream. That is prohibited by the spec:

[RFC 9113 §5.1](https://httpwg.org/specs/rfc9113.html#StreamStates)
`A stream also enters the "closed" state after an endpoint either sends or receives a RST_STREAM frame.`
...
`An endpoint MUST NOT send frames other than PRIORITY on a closed stream.`


Reproducer:
https://github.com/danielkec/okrepro

![image](https://github.com/square/okhttp/assets/1773630/09c8b96f-4c31-4853-824e-eb6bf09c7422)


Probably a duplicate of #6171

The repro is really useful, thanks.  I'll take a look on the weekend.

3.14.1 is no longer a supported version.  You should use 4.11.0 if you want a supported version.  I'll verify your current test using 4.11.0.

<a href="https://viddownloader.online/">Online video downloader</a> is one of the best free video downloaders to help you download online video links on your PC, phone, or any device.
Try it now - https://viddownloader.online/

any updates on this?

closing as dupe of https://github.com/square/okhttp/issues/6171