MockWebServer sends invalid HTTP 2 ":status" header with reason phrase

It seems, that there is a bug in MockWebServer (or at least some people believe so): when running a recent curl version against it, it outputs an error:

    http2 error: Invalid HTTP header field was received: frame type: 1, stream: 1, name: [:status], value: [200 OK]

Quick browsing of HTTP 2 spec, section "Response Pseudo-Header Fields" shows:

    For HTTP/2 responses, a single :status pseudo-header field is defined that carries the HTTP status code field (see [RFC7231], Section 6). This pseudo-header field MUST be included in all responses; otherwise, the response is malformed (Section 8.1.2.6).
    
    HTTP/2 does not define a way to carry the version or reason phrase that is included in an HTTP/1.1 status line.

So it seems like curl/nghttp2 is using that part of spec to justify rejection of anything but integral response code within ":status" header.

Client: curl with nghttp2
Curl version: 27e2a4733 (snapshot of master after curl-7_54_1)
nghttp2 version:  92d686d35 (snapshot of master after v1.24.0)

MockWebServer version: 3.9.0-SNAPSHOT