Is POST really require body?

Hi, i'm encountering same problem as with #745, but at this time with POST method.
I don't really care what specs saying about whether POST must have a body or not, but I definitely know, that some server APIs don't expect any body at all with POST method.

Let's not blame creators of such API's, but just admit it.
So, when dealing with such APIs I should use clumsy code like following one:

```
new Request.Builder()
  .url(requestUrl)
  .method("POST", null);
  .header("Content-Length", "0");
```

Maybe we should add "Content-Length: 0" header automatically if request's body is null?


This is still an issue in 2.4.0 RC.

@1zaman can you provide a 0-length body? I don't want to conflate null with empty.

@swankjesse: This update breaks my existing application which uses Volley and OkHttp, so I'm just reverting it for now. If you mean to enforce a body in POST requests, then this should be documented as a breaking change.

It is not trivial to provide a zero length body with Retrofit;

For anyone getting here with retrofit, you can use the `@Body annotation`.

````Java
public interface MyService {
    @POST( "yourpath") R call( @Body String body )
}

myServiceInstance.call( "" );
````



I would call that pretty trivial actually.

On Tue, May 26, 2015 at 5:32 PM Derk-Jan Karrenbeld <
notifications@github.com> wrote:

> It is not trivial to provide a zero length body with Retrofit;
>
> For anyone getting here with retrofit, you can use the @Body annotation.
>
> public interface MyService {
>     @POST( "yourpath") R call( @Body String body )
> }
>
> myServiceInstance.call( "" );
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/square/okhttp/issues/751#issuecomment-105703921>.
>


Yeah; I wrote not hard and forgot to replace the not.

@JakeWharton This is a crutch. If the server does not expect a parameter, it should not be.

The RFC for HTTP requires it and you are using an OkHttp that is newer by
numerous months than Retrofit. It's unsurprising that it enforces stronger
semantics.

On Wed, May 27, 2015, 1:14 AM Aleksandr Beshkenadze <
notifications@github.com> wrote:

> @JakeWharton <https://github.com/JakeWharton> This is a crutch. If the
> server does not expect a parameter, it should not be.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/square/okhttp/issues/751#issuecomment-105813715>.
>


@JakeWharton How about this? http://stackoverflow.com/questions/4191593/is-it-considered-bad-practice-to-perform-http-post-without-entity-body

The fact that servers accept non RFC requests is nothing new; I think explicitly sending an empty body isn't bad.

I agree but empty is not the same as absent. Empty is allowed and not the
problem faced here. You have absent bodies that are no longer being allowed
because they need coerced to empty in Retrofit.

On Wed, May 27, 2015, 1:44 AM Derk-Jan Karrenbeld <notifications@github.com>
wrote:

> The fact that servers accept non RFC requests is nothing new; I think
> explicitly sending an empty body isn't bad.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/square/okhttp/issues/751#issuecomment-105826045>.
>


Can the default behaviour not be to empty an absent POST body? Convention over configuration wise?

That's not what that phrase means. A POST per the HTTP spec needs the body.

On Wed, May 27, 2015, 6:58 PM Derk-Jan Karrenbeld <notifications@github.com>
wrote:

> Can the default behaviour not be to empty an absent POST body? Convention
> over configuration wise?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/square/okhttp/issues/751#issuecomment-106023291>.
>


Yes, I understood that. So give it (in okhttp) an empty one if none was given, instead of raising an exception?

I think it's good to require the body and raise the exception, but since it is a breaking change now, one could make it deprecated yadayadayada --

Where from the HTTP standard is it obvious that POST requires a body? As I see it [RFC7320](https://tools.ietf.org/html/rfc7230) says on page 27:

> The presence of a message body in a request is signaled by a
>   Content-Length or Transfer-Encoding header field.  Request message
>  framing is independent of method semantics, even if the method does
>   not define any use for a message body.

And later on on page 32 it specifies:

 > If this is a request message and none of the above are true, then the message body length is zero (no message body is present).

I couldn't find an restrictions for any request type/verb. 

@slomo The best argument I can see for POSTs requiring a body comes not from [RFC 7320](https://tools.ietf.org/html/rfc7230) but from [RFC 7231](https://tools.ietf.org/html/rfc7231), where the POST method is defined. From the start of [section 4.3.3](https://tools.ietf.org/html/rfc7231#section-4.3.3):

> The POST method requests that the target resource process ***the
   representation enclosed in the request*** according to the resource's
   own specific semantics.

(Emphasis is mine.)

From all the prior discussion of "representations" and representations being "enclosed" in request payloads earlier in the RFC, it is reasonable to infer that "the representation enclosed in the request" refers to its body.

So we have language in the definition of POST that seems to take for granted (but doesn't explicitly state) that a POST request must contain an "enclosed representation", and a whole bunch of earlier remarks in the document that seem to take for granted (but don't explicitly state) that "representations" are always things that exist in the body of a request or response.

Pretty unsatisfying!

Meanwhile, [back in RFC 7230](https://tools.ietf.org/html/rfc7230#section-3.3.2), there's this snippet:

>    A user agent SHOULD send a Content-Length in a request message when
   no Transfer-Encoding is sent and the request method defines a meaning
   for an enclosed payload body.  For example, a Content-Length header
   field is normally sent in a POST request even when the value is 0
   (indicating an empty payload body).  A user agent SHOULD NOT send a
   Content-Length header field when the request message does not contain
   a payload body and the method semantics do not anticipate such a
   body.

Here there's an explicit distinction being made between methods *like POST* that define a meaning for the payload body, and others, like GET, that do not. In the former case, we're invited to think of sending request with no body as sending an "empty" body, and in the latter case we're invited to think of it as sending "no" body.

Of course, as far as bytes over the wire goes an "empty" body and "no" body are the same thing anyway (unless I'm mistaken about something?), so I don't think I'd've made the decision that the square chaps have made to enforce explicitly passing an empty body in the cases where a body is semantically required. *(Shrugs.)*

It's "trivially easy" to add a request body provided you're not using OkHttp under Retrofit, for example. I don't want to pollute my Retrofit API interface with a body parameter that's just going to confuse people using it. I tried to use an `Interceptor` on the `OkHttpClient` but apparently the check is done before the interceptor is invoked. That in itself seems odd. There seems to be a perfectly reasonable solution to what is a breaking change.

What about `PUT` without a body? Right now it will not get accepted.

What about `PUT`? Right now it requires a request body. Should it?

You can add an empty body.