Support HTTP protocol upgrades

We should implement user-requested protocol upgrades as specified by [RFC 7230 section 6.7](https://tools.ietf.org/html/rfc7230#section-6.7).

### Use Cases

 * [Docker connection hijacking](https://docs.docker.com/engine/api/v1.22/#32-hijacking) see also [docker-java #1347](https://github.com/docker-java/docker-java/pull/1347)
 * Our own web sockets
 * Third-party web sockets implementations on OkHttp

### Eligibility

An HTTP/1 call is upgraded if all of the following are true:

 - The caller’s request includes an `Upgrade` header 
 - The caller’s request includes a `Connection` header with the value `upgrade`
 - The server’s response includes an `Upgrade` header 
 - The server’s response includes a `Connection` header with the value `upgrade`
 - The response code is 101.

### On Upgrade

A successful upgrade changes the behavior of the HTTP response:

 - The `ResponseBody` is null.
 - The response has a non-null `Streams` object that carries the input and output stream. Note that the source and sink timeouts should work properly!

```
interface Streams {
  val source: Source
  val sink: Sink
  fun cancel()
}
```

```
class Response {
  ...
  /** Non-null if this response is a successful upgrade ... */
  @get:JvmName("streams") val streams: Streams?
}
```

A successful upgrade has these side-effects:

 - The call timeout is immediately completed. (`RealCall.timeoutEarlyExit()`)
 - The connection is forbidden from carrying new exchanges. (`RealConnection.noNewExchanges()`)
 - The socket’s read timeout is disabled. (`Socket.setSoTimeout()`) 
 - If the call is asynchronous (`Call.enqueue()`), the call counts against Dispatcher limits until `onResponse()` returns.

I’ve used the class name `Streams` instead of `UpgradedConnection` or something feature-specific because I think we might be able to reuse this type for `CONNECT` calls.

### Web Sockets

Can we migrate our internal web sockets code to use this? Ideally yes, though that shouldn’t block this from being released.

### Event Listeners

Ideally we have well defined behavior for `EventListeners` on an upgraded connection. We need to decide whether to count bytes of the upgraded connection for the benefit of listeners.



What are the cancellation & close rules?  Half closed supported? 

Source.close(): releases resources and cause writes to fail.
Sink.close(): flushes buffered data, releases resources, and sends EOF to reader.
cancel(): asynchronously cause source & sink to fail, each on both ends.



Is this one still under consideration? Any kind of official support for a connection upgrade and exposing Sink/Source would be great for OkHttp 4+.

Yeah I'd like for us to do this.

@gesellix what's your use case?

@swankjesse thanks for coming back to this one!

It's the same use case like for docker-java (Docker's HTTP Hijacking), with the only difference that I'm maintaining yet another Java docker-client, based on OkHttp 4.x. You can find myself struggling with a [hacky implementation](https://github.com/docker-client/docker-engine/blob/2c0252e3661639ced6e43f3d857f1d22aaed73b0/engine/src/main/java/de/gesellix/docker/hijack/HijackingInterceptor.java).

I'm now trying to have a more generic implementation, based on Docker's Swagger definition and more [generated code](https://github.com/docker-client/docker-remote-api-client) - with the hijacking feature being one of the custom parts, obviously, and I didn't want to copy the old hacky code over to the fresh implementation.

Maybe this one helps: I tried to implement integration test by copying the relevant code from Docker to a [small utility](https://github.com/gesellix/go-npipe/blob/935e50e846815f62e349ace2089f0fd95ce50458/main.go#L92). It's certainly not ready for wide-spread use and it probably needs some polishing, but you might also have the problem of testing the hijacking client.


@swankjesse do you think this one could be included in OkHttp 5? I'm aware that the required changes could change the API, so it probably won't be backported to OkHttp 4 - which is fine.

Yeah, this is something we want.

Is it worth landing this for 4.9? before we do the right fix in 5.0 and then backport?

https://github.com/square/okhttp/pull/7196

With Cloudflare sending these, it seems more timely for 4.9? 

I started working on this one. You're welcome to leave comments/suggestions at https://github.com/gesellix/okhttp/pull/4.
Maybe it will become good enough to be a pull request to the main repository?


The biggest question I have is, should _Okio_ define the `Streams` type?

A big +1. I think I've been asking for that for a while.

Worth getting the API right. 

Maybe there are good ways to tie it in with Kotlin coroutine scopes? Is kotlinx-io doing anything here?

It's probably worth making a PR on this repo to get review. It's a lot more visible as a PR. Thanks for pushing this to this point, given it's quite API disruptive, it's quite possible @swankjesse will want to be more directly hands-on, so it's possible it lands in a different form. Let's see.

It's likely blocked on an okio release. See https://github.com/square/okio/pull/1635 for the Okio socket API.





That's great, I'll create a PR to this repo then 👍 

I wasn't aware of https://github.com/square/okio/pull/1635 - it's totally fine if my PR won't match the path you're going with Okio. If you or @swankjesse like, I can try to adjust my PR to use the new Okio socket API... that said I would really be glad for some advice or if you guys simply take my changes and rewrite everything :)

In other news: a rough check against the Docker Engine seemed to work.


A PR is available at https://github.com/square/okhttp/pull/8849.


I think this issue can now be resolved as _implemented_ with OkHttp 5.2+ for the following use cases:

- WebSockets (OkHttp 5.2.0)
- Generic Socket clients, e.g. for Docker tcp upgrade aka hijacking:
    - https://docs.docker.com/reference/api/engine/version/v1.51/#tag/Container/operation/ContainerAttachWebsocket (no RequestBody, OkHttp 5.2.0)
    - https://docs.docker.com/reference/api/engine/version/v1.51/#tag/Exec/operation/ExecStart (with RequestBody, OkHttp 5.3.0)
