Expect 100-continue and connection reuse

When sending a HTTP request with the `Expect: 100-continue` header (and a request body), if the server answers with a status code different than `100 Continue`, the client should either:
* send the request body, then consider to reuse the connection for sending other requests.
* close the connection to prevent its reuse and the need to send the request body.

The reasons are explained in [this email](https://curl.haxx.se/mail/lib-2004-08/0002.html) sent to the libcurl mailing list by Jamie Lokier.

The current okhttp behavior in that case is to skip the sending of the request body and reuse the connection, which is wrong. I believe closing the connection is the best approach (as if the `Connection: close` header was part of the response), because the main use of the `Expect: 100-continue` header is to prevent the request body from being sent if the request fails.

On a related note, okhttp should not expect that the server will react to the `Expect: 100-continue` header and should start sending the request body after a timeout ([section 8.2.3 of RFC2616](https://tools.ietf.org/html/rfc2616#section-8.2.3)):

> Because of the presence of older implementations, the protocol allows ambiguous situations in which a client may send "Expect: 100-continue" without receiving either a 417 (Expectation Failed) status or a 100 (Continue) status. Therefore, when a client sends this header field to an origin server (possibly via a proxy) from which it has never seen a 100 (Continue) status, the client SHOULD NOT wait for an indefinite period before sending the request body.

Interesting, I’ll take a look.

I’m pretty reluctant to send anyway after waiting for some period. That invites potential race conditions, and I’m (naively) only expecting OkHttp’s users to use `Expect: 100-continue` when they are confident the server will accept it.

I agree, the last part of the issue is not that important and can be ignored.